# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Docker
.dockerignore

# Database
*.db

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db